.bgImage {
    padding-bottom: 45px;
    height: 650px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c6e6fb+0,eaf6f6+44,f8f5d2+100 */
    background: #c6e6fb; /* Old browsers */
    background: -moz-linear-gradient(top,  #c6e6fb 0%, #eaf6f6 44%, #f8f5d2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #c6e6fb 0%,#eaf6f6 44%,#f8f5d2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #c6e6fb 0%,#eaf6f6 44%,#f8f5d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6e6fb', endColorstr='#f8f5d2',GradientType=0 ); /* IE6-9 */
}
.profile {
    text-align: center;
}
.author {
    margin-top: 125px;
}
.profile img {
    border-radius: 100px;
    border: solid white 2px;
    box-shadow: 2px 2px 3px #000;
}
.profile h2 {
    font-size: 55px;
    color: #999;
}
.profile h4 {
     font-size: 17px;
     color: ##ff9800;
}
.aboutMe {
    text-align: center;
}
.aboutMe h3 {
    color: #337ab7;
}
.profile p {
    margin: 15px 0 10px 0;
}
.aboutMe p {
    font-size: 17px;
    width: 60%;
    margin: 0 auto;
}
.what-I-Do {
    margin-top: 45px;
}
.socialIcons i {
    margin: 0px 10px;
    color: #f2d1b7;
}
.footer-bottom {
    height: 75px;
    background-color: #1fa67a;
    border-top: 1px solid #1b926c;
    color: #a5d8c7;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    margin-top: 60px;
}
.footer-bottom p {
    color: #fff;
    text-align: center;
    margin-top: 35px;
    font-size: 15px;
}
.navbar-inverse {
    background-color: #c6e6fb;
    color: #000;
    text-align: center;
    border: 0px;
    paddin-top: 30px;
}
.navbar-inverse i {
    marhin: 0px 10px;
}
.navbar {
    margin-bottom: 0px !important;
}
