.bgImage {
    background-image: url(http://tinyurl.com/zp8zyja);
}
.profile {
    text-align: center;
}
.author {
    margin-top: 125px;
}
.profile img {
    border-radius: 100px;
    border: solid white 2px;
    box-shadow: 2px 2px 3px #000;
}
